ClienteSoapBancos/Connected Services/servicioDavivienda/Service2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service2" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53040/ServidorSoapDavivienda.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53040/ServidorSoapDavivienda.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServidorSoapDavivienda_consultaRecaudo_InputMessage">
    <wsdl:part name="parameters" element="tns:consultaRecaudo" />
  </wsdl:message>
  <wsdl:message name="IServidorSoapDavivienda_consultaRecaudo_OutputMessage">
    <wsdl:part name="parameters" element="tns:consultaRecaudoResponse" />
  </wsdl:message>
  <wsdl:message name="IServidorSoapDavivienda_notificacionRecaudo_InputMessage">
    <wsdl:part name="parameters" element="tns:notificacionRecaudo" />
  </wsdl:message>
  <wsdl:message name="IServidorSoapDavivienda_notificacionRecaudo_OutputMessage">
    <wsdl:part name="parameters" element="tns:notificacionRecaudoResponse" />
  </wsdl:message>
  <wsdl:message name="IServidorSoapDavivienda_reversionNotificacionRecaudo_InputMessage">
    <wsdl:part name="parameters" element="tns:reversionNotificacionRecaudo" />
  </wsdl:message>
  <wsdl:message name="IServidorSoapDavivienda_reversionNotificacionRecaudo_OutputMessage">
    <wsdl:part name="parameters" element="tns:reversionNotificacionRecaudoResponse" />
  </wsdl:message>
  <wsdl:portType name="IServidorSoapDavivienda">
    <wsdl:operation name="consultaRecaudo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServidorSoapDavivienda/consultaRecaudo" message="tns:IServidorSoapDavivienda_consultaRecaudo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServidorSoapDavivienda/consultaRecaudoResponse" message="tns:IServidorSoapDavivienda_consultaRecaudo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="notificacionRecaudo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServidorSoapDavivienda/notificacionRecaudo" message="tns:IServidorSoapDavivienda_notificacionRecaudo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServidorSoapDavivienda/notificacionRecaudoResponse" message="tns:IServidorSoapDavivienda_notificacionRecaudo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="reversionNotificacionRecaudo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServidorSoapDavivienda/reversionNotificacionRecaudo" message="tns:IServidorSoapDavivienda_reversionNotificacionRecaudo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServidorSoapDavivienda/reversionNotificacionRecaudoResponse" message="tns:IServidorSoapDavivienda_reversionNotificacionRecaudo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServidorSoapDavivienda" type="tns:IServidorSoapDavivienda">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="consultaRecaudo">
      <soap:operation soapAction="http://tempuri.org/IServidorSoapDavivienda/consultaRecaudo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="notificacionRecaudo">
      <soap:operation soapAction="http://tempuri.org/IServidorSoapDavivienda/notificacionRecaudo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reversionNotificacionRecaudo">
      <soap:operation soapAction="http://tempuri.org/IServidorSoapDavivienda/reversionNotificacionRecaudo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service2">
    <wsdl:port name="BasicHttpBinding_IServidorSoapDavivienda" binding="tns:BasicHttpBinding_IServidorSoapDavivienda">
      <soap:address location="http://localhost:53040/ServidorSoapDavivienda.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>